.main-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color:rgb(18, 182, 223);
    overflow-x: hidden;
}
.menu-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.header{
  width: 100%;
  margin-top: 10px;
}
.header h1{
  font-size: 60px;
  text-align: center;
}
.sub-header{
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}
.items-container{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.cart-container{
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
}
footer{
  position: fixed;
  bottom: 5px;
}

/* Media Queries Default: Medium Mobile Phones */

@media only screen and (max-width: 374px){
  .sub-header{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 768px){
  .sub-header{
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media only screen and (min-width: 1024px){
  .sub-header{
    padding-left: 350px;
    padding-right: 350px;
  }
  .items-container{
    width: 90%;
    display: block;
    margin: 20px auto;
  }
  .main-item-container{
    width: 40%;
    display: inline-block;
    margin: 5px 20px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px){
  .sub-header{
    padding-left: 1120px;
    padding-right: 1120px;
  }
  .items-container{
    width: 90%;
    display: block;
    margin: 20px auto;
  }
  .main-item-container{
    width: 30%;
    display: inline-block;
    margin: 5px 20px;
    padding: 10px;
  }
}
